%html
  %head
    %title IndexTank - Instant Search Demo
    %link{"rel" => "stylesheet", "href" => "style.css", "type" => "text/css"}
    %script{ :src=>"http://www.google.com/jsapi", :type=>"text/javascript"}
    <script type='text/javascript'> 
    var theme = "flick";
    var publicApiUrl = "http://yxu3.api.indextank.com";
    var indexName = "test";
    var elementId = "#query";
    var remoteSource = publicApiUrl + "/v1/indexes/" + indexName + "/autocomplete";
    google.load("jquery", "1.4.4");
    google.load("jqueryui", "1.8.7");
    google.loader.writeLoadTag("css", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/" + theme + "/jquery-ui.css");
    </script> 
  %body
  #header
    %h1 IndexTank - Instant Search Demo
    %form{ :action=>""}
      find musical instruments:
      %input{ :type=>"text", :id=>"query", :name=>"query", :value=>"#{@query}"}
    %script{:type => "text/javascript", :src  => "instant.js" }
    <script>document.getElementById("query").focus();</script>
  #results
